// Final Design
//
// Design implementation of psd file, combining all modules in final design layout
//
//
// Markup: final-design.twig
//
// Style guide: 7

.design-layout {
    padding: 6vw;
    display: grid;
    width: 100%;
    height: 100%;

    @include respond-to('xl') {
        grid-template-areas: "header header" "content content" "main main" "accordion accordion" "footer aside";
        grid-template-columns: 1fr 325px;
        grid-template-rows: 1fr 4fr 4fr 8fr;
    }
    grid-template-areas: "header header" "content content" "main main" "accordion accordion" "aside aside";
}

.page-title {
    grid-area: content;
    max-width: 100%;
    min-height: 150px;

    @include respond-to('xl') {
        max-width: 60%;
    }
    h1 {
        font-size: 1.5rem;
        @include respond-to('xl') {
            font-size: 2.5rem;
        }
    }
}

.page-content {
    grid-area: main;
    margin-bottom: 40px;
}

.handorgel {
    grid-area: accordion;
}

@include respond-to('xl') {
    .design-layout .handorgel {
        max-width: 95.2%;
    }
}

.aside-box {
    grid-area: aside;
    max-height: 220px;
}

.design-layout .aside-box__item {
    width: 100%;
}